@import url('https://fonts.googleapis.com/css2?family=Lora:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

html{
    font-size: 62.5%;
}

* {
    margin: 0;
    padding: 0;
}

body{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    overflow-x: hidden;
}
/*Backgrounds*/
.bgColor{
    background: linear-gradient(#7aa5da,#e9eaf0);
}

.bgTop{
    background:linear-gradient(#37485e,#607AA7);
    text-shadow: 2px 3px 4px rgba(16, 5, 28, 0.8);
}

/*Nav*/
.logoImg{
    height: auto;
    width: auto;
}
.navText{
    font-family: 'Lora', serif;
    font-size: 2rem;
    text-shadow: 2px 3px 4px rgba(16, 5, 28, 0.8);
    color:rgb(242, 241, 241)
}

li{
    display: inline-block;
    position: relative;
    padding: 10px;
}

/*Index*/
.h1Index{
    font-family: 'Silkscreen', cursive;
    font-size: 6rem;
    color: rgb(151, 149, 150);
    padding: 6px;
    text-align: center;
    text-shadow: 3px 4px 6px rgba(27, 10, 1, 0.8);
}

.h2Index{
    font-family: 'Silkscreen', cursive;
    font-size: 4rem;
    color: rgb(17, 1, 13);
    padding: 4px;
    text-align: center;
    text-shadow: 3px 4px 6px rgba(27, 10, 1, 0.8);
}

.sectionHeight{
    max-height: 500px;
}

/*Index Carrousel*/
.textCarrousel{
    font-size: 1.5rem;
    padding: 5px;
    padding-bottom: 10px;
}

.titleText{
    font-family: 'Silkscreen', cursive;
    font-size: 6rem;
    color:rgb(242, 241, 241);
    padding: 4px;
    text-align: center;
    text-shadow: 8px 6px 8px rgba(69, 67, 66, 0.545);
}

.pFormat{
    display: block;
    position: absolute;
    top: 95rem;
    left: 30%;
    font-family: 'Merriweather', serif;
    font-size: 2rem;
    color: rgb(6, 6, 6);
    font-style: italic;
    text-shadow: 3px 4px 6px rgba(27, 10, 1, 0.8);
    margin-left: 1%;
}


.imgSobreMi{
    width: 33%;
    height: auto;
    margin: 1px;
    padding-top: 8px;
    padding-left: 5%;
}

.toolsText{
    display: inline-block;
    position: relative;
    font-family: 'Silkscreen', cursive;
    font-size: 2.5rem;
    text-shadow: 3px 4px 6px rgba(138, 14, 107, 0.8);
    text-align: center;
}

.projectName{
    position: relative;
    font-family: 'Ubuntu', serif;
    font-size: 2rem;
    text-shadow: 3px 4px 6px rgba(27, 10, 1, 0.8);
    text-align: center;
    top: 4rem;
    color:black;
    padding: 5px;
}

video{
    width: 500px;
    height: auto;
    margin-left: 15px;
}

.links{
    font-family: 'Merriweather', serif;
    color: green;
    font-size: 2rem;
    text-shadow: 3px 4px 6px rgba(10, 98, 41, 0.8);
    position: relative;
    bottom: 3rem;
    text-align: center;
    padding: 5px;
    left: 2%;
}

.galleryContainer{
    padding: 10px;
    display: flex;
}

figure{
    justify-content: space-between;
}

.galleryFormat{
    width: 90%;
    height: auto;
    margin: 2px;
    padding: 3px;
}

figure a{
    font-family: 'Merriweather', serif;
    color: green;
    font-variant: small-caps;
    font-size: 1.5rem;
    text-shadow: 2px 3px 4px rgba(10, 98, 41, 0.8);
}

/*Formulario*/
.vertical{
    display: flex;
    align-items: center;
}

.form-format{
    border-radius: 5px;
    background: linear-gradient(#4B5579,#131728);
    margin: auto;
    padding: 15px;
}

.form-format-align{
    text-align: center;
}

.formulario{
    padding: 0;
}

.formulario h2{
    font-family: 'Lora', serif;
    font-size: 3rem;
    color: white;
    letter-spacing: 5px;
    text-shadow: 2px 3px 4px rgba(16, 5, 28, 0.8);
}

.formulario label{
    font-family: 'Lora', serif;
    font-size: 2rem;
    color: white;
    letter-spacing: 5px;
    text-shadow: 2px 3px 4px rgba(16, 5, 28, 0.8);
}

/*Tarjetas*/

.cardFormat{
    border-radius: 5px;
    background: linear-gradient(#4B5579,#131728);
    margin: auto;
}

.card:hover{
    background: rgb(181, 229, 243);
    cursor: pointer;
    transition: all 0.3s ease;
    transform: scale(1.01);
}

.card-title{
    font-family: 'Ubuntu', sans-serif;
    font-size: 3rem;
    color: black;
}

.card-text{
    font-family: 'Lora', serif;
    font-size: 1.1rem;
}

.col{
    display: flex;
    justify-content: center;
}

/*Footer*/
footer{
    vertical-align : top
}

#footerP{
    font-size: 3rem;
}

h5{
    font-size: 3rem;
}

.footerLink{
    font-family: 'Ubuntu',serif;
    color: white;
}

.footerLink:hover{
    color: rgb(91, 158, 179);
    cursor: pointer;
    transition: all 0.2s ease;
    transform: scale(1.01);
}


/*Ajustes medidas dispositivos */
@media (max-width: 768px){
    .logoImg{
        width: 75%;
    }

    .navText{
        font-family: 'Lora', serif;
        font-size: 1.5rem;
        color: rgb(226, 216, 216);
    }
    
    .h1Index{
        font-family: 'Silkscreen', cursive;
        font-size: 4rem;
        color: rgb(151, 149, 150);
        padding: 6px;
        text-align: center;
        text-shadow: 3px 4px 6px rgba(27, 10, 1, 0.8);
    }
    
    .h2Index{
        font-family: 'Silkscreen', cursive;
        font-size: 2.5rem;
        color: rgb(17, 1, 13);
        padding: 4px;
        text-align: center;
        text-shadow: 3px 4px 6px rgba(27, 10, 1, 0.8);
    }

    .titleText{
        font-size: 4rem;
    }

    li{
        padding: 5px;
    }

    .card {
        height: 120px;
        width: 300px;
    }

    #footerP{
    font-size: 2rem;
    }
}

@media (max-width: 992px){
    .logoImg{
        width: 50%;
    }

    .navText{
        font-family: 'Lora', serif;
        font-size: 1.5rem;
        color: rgb(226, 216, 216);
    }
    
    .h1Index{
        font-family: 'Silkscreen', cursive;
        font-size: 5rem;
        color: rgb(151, 149, 150);
        padding: 6px;
        text-align: center;
        text-shadow: 3px 4px 6px rgba(27, 10, 1, 0.8);
    }
    
    .h2Index{
        font-family: 'Silkscreen', cursive;
        font-size: 3rem;
        color: rgb(17, 1, 13);
        padding: 4px;
        text-align: center;
        text-shadow: 3px 4px 6px rgba(27, 10, 1, 0.8);
    }

    .titleText{
        font-size: 5rem;
    }
    
    li{
        padding: 5px;
    }

    .card {
        height: 120px;
        width: 260px;
    }

    #footerP{
        font-size: 2rem;
        }
}

@media (min-width: 992px) {
    .card {
        height: 120px;
        width: 250px;
    }
}

@media (min-width: 1400px){
    .card {
        height: 120px;
        width: 300px;
    }
}

@media (min-width: 1750px){
    .card {
        height: 120px;
        width: 400px;
    }
}
















