@import url('https://fonts.googleapis.com/css2?family=Lora:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap'); /*OK*/

html{
    font-size: 62.5%;
} /*OK*/

* {
    margin: 0;
    padding: 0;
} /*OK*/

body{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    overflow-x: hidden;
} /*OK*/
/*Backgrounds*/
.bgColor{
    background: linear-gradient(#7aa5da,#e9eaf0);
}/*OK*/

.bgTop{
    background:linear-gradient(#37485e,#607AA7);
    text-shadow: 2px 3px 4px rgba(16, 5, 28, 0.8);
} /*OK*/

/*Nav*/
.logoImg{
    height: auto;
    width: auto;
    animation:scale-in-center .5s 
    cubic-bezier(.25,.46,.45,.94) both
} /*OK*/

.navText{
    font-family: 'Lora', serif;
    font-size: 2rem;
    text-shadow: 2px 3px 4px rgba(16, 5, 28, 0.8);
    color:rgb(242, 241, 241)
} /*OK*/

.navText:hover{
    color: rgb(91, 158, 179);
    cursor: pointer;
    transition: all 0.2s ease;
    transform: scale(0.93);
    animation:slide-top .5s 
    cubic-bezier(.25,.46,.45,.94) both
} /*OK*/

li{
    display: inline-block;
    position: relative;
    padding: 10px;
} /*OK*/

/*Index*/
.h1Index{
    font-family: 'Silkscreen', cursive;
    font-size: 6rem;
    color:rgb(242, 241, 241);
    padding: 6px;
    text-align: center;
    text-shadow: 3px 4px 6px rgba(27, 10, 1, 0.8);
}/*OK*/

.h2Index{
    font-family: 'Silkscreen', cursive;
    font-size: 4rem;
    color: rgb(17, 1, 13);
    padding: 4px;
    text-align: center;
    text-shadow: 3px 4px 6px rgba(27, 10, 1, 0.8);
}/*OK*/

/*Index Carrousel*/
.textCarrousel{
    font-size: 1.5rem;
    padding: 5px;
    padding-bottom: 10px;
}/*OK*/

.titleText{
    font-family: 'Ubuntu', serif;
    font-size: 6rem;
    color:rgb(242, 241, 241);
    padding: 4px;
    text-align: center;
    text-shadow: 8px 6px 8px rgba(69, 67, 66, 0.545);
}/*OK*/

/*Sobre mi - Proyectos*/
.pFormat{
    font-family: 'Merriweather', serif;
    font-size: 2rem;
    color: black;
    font-style: italic;
    text-shadow: 3px 4px 6px rgba(27, 10, 1, 0.8);
}/*OK*/

.projectName{
    font-family: 'Silkscreen', cursive;
    font-size: 3rem;
    text-shadow: 3px 4px 6px rgba(27, 10, 1, 0.8);
    color:rgb(17, 1, 13);
}/*OK*/
    
.links{
    font-family: 'Ubuntu', sans-serif;;
    color:rgb(17, 1, 13);
    font-size: 2rem;
    text-shadow: 3px 4px 6px rgba(17, 17, 199, 0.579);
}/*OK*/

/* Galeria */
.bgCard{
    background-color:rgba(222, 202, 202, 0.62);
}/*OK*/

.cardName{
    font-family: 'Silkscreen', cursive;
    font-size: 3rem;
    color: rgb(40, 145, 210);
    text-shadow: 3px 4px 6px rgba(124, 124, 124, 0.696);
}/*OK*/

.cardText{
    font-family: 'Ubuntu', serif;
    font-size: 1.5rem;
    color:black;
}/*OK*/

.galleryLinks{
    font-family: 'Lora', serif;
    color: rgb(17, 1, 13);
    font-size: 2rem;
    text-shadow: 3px 4px 6px rgba(124, 124, 124, 0.696);
}/*OK*/

/*Formulario*/
.vertical{
    display: flex;
    align-items: center;
}/*OK*/

.form-format{
    border-radius: 5px;
    background: linear-gradient(#4B5579,#131728);
    margin: auto;
    padding: 15px;
}/*OK*/

.form-format-align{
    text-align: center;
}/*OK*/

.formulario{
    padding: 0;
}/*OK*/

.formulario h2{
    font-family: 'Lora', serif;
    font-size: 3rem;
    color: white;
    letter-spacing: 5px;
    text-shadow: 2px 3px 4px rgba(16, 5, 28, 0.8);
}/*OK*/

.formulario label{
    font-family: 'Lora', serif;
    font-size: 2rem;
    color: white;
    letter-spacing: 5px;
    text-shadow: 2px 3px 4px rgba(16, 5, 28, 0.8);
}/*OK*/

/*Tarjetas*/

.cardFormat{
    border-radius: 5px;
    background: linear-gradient(#4B5579,#131728);
    margin: auto;
}/*OK*/

.card:hover{
    background: rgb(181, 229, 243);
    cursor: pointer;
    transition: all 0.3s ease;
    transform: scale(1.01);
}/*OK*/

.card-title{
    font-family: 'Ubuntu', sans-serif;
    font-size: 3rem;
    color: black;
}/*OK*/

.card-text{
    font-family: 'Lora', serif;
    font-size: 1.1rem;
}/*OK*/

.col{
    display: flex;
    justify-content: center;
}/*OK*/

/*Footer*/
footer{
    vertical-align : top
} /*OK*/

#footerP{
    font-size: 3rem;
} /*OK*/

h5{
    font-size: 3rem;
} /*OK*/

.footerLink{
    font-family: 'Ubuntu',serif;
    color: white;
} /*OK*/

.footerLink:hover{
    color: rgb(91, 158, 179);
    cursor: pointer;
    transition: all 0.2s ease;
} /*OK*/


/*Ajustes medidas dispositivos */
@media (max-width: 768px){
    .logoImg{
        width: 75%;
    }/*OK*/

    .navText{
        font-family: 'Lora', serif;
        font-size: 1.5rem;
        color: rgb(226, 216, 216);
    }/*OK*/
    
    .navText:hover{
        color: rgb(91, 158, 179);
        cursor: pointer;
        transition: all 0.05s ease;
        transform: scale(0.98);
        animation:slide-top .5s 
        cubic-bezier(.25,.46,.45,.94) both
    }/*OK*/

    .h1Index{
        font-family: 'Silkscreen', cursive;
        font-size: 4rem;
        color: rgb(220, 217, 218);
        padding: 6px;
        text-align: center;
        text-shadow: 3px 4px 6px rgba(27, 10, 1, 0.8);
    }/*OK*/
    
    .h2Index{
        font-family: 'Silkscreen', cursive;
        font-size: 2.5rem;
        color: rgb(17, 1, 13);
        padding: 4px;
        text-align: center;
        text-shadow: 3px 4px 6px rgba(27, 10, 1, 0.8);
    }/*OK*/

    .titleText{
        font-size: 4rem;
    }/*OK*/

    .sobreMiText{
        font-family: 'Merriweather', serif;
        font-size: 1.8rem;
        color: rgb(6, 6, 6);
        font-style: italic;
        text-shadow: 3px 4px 6px rgba(27, 10, 1, 0.8);
    }/*OK*/

    video{
        width: 90%;
    }/*OK*/

    li{
        padding: 5px;
    }/*OK*/

    .card {
        height: 150px;
        width: 400px;
    }/*OK*/

    #footerP{
    font-size: 2rem;
    }/*OK*/
}

@media (max-width: 992px){
    .logoImg{
        width: 50%;
    }/*OK*/

    .navText{
        font-family: 'Lora', serif;
        font-size: 1.5rem;
        color: rgb(226, 216, 216);
    }/*OK*/

    .navText:hover{
        color: rgb(91, 158, 179);
        cursor: pointer;
        transition: all 0.05s ease;
        transform: scale(0.98);
    }/*OK*/
    
    .h1Index{
        font-family: 'Silkscreen', cursive;
        font-size: 5rem;
        color: rgb(220, 217, 218);
        padding: 6px;
        text-align: center;
        text-shadow: 3px 4px 6px rgba(27, 10, 1, 0.8);
    }/*OK*/
    
    .h2Index{
        font-family: 'Silkscreen', cursive;
        font-size: 3rem;
        color: rgb(17, 1, 13);
        padding: 4px;
        text-align: center;
        text-shadow: 3px 4px 6px rgba(27, 10, 1, 0.8);
    }/*OK*/

    .titleText{
        font-size: 5rem;
    }/*OK*/
    
    li{
        padding: 5px;
    }/*OK*/

    .card {
        height: 120px;
        width: 260px;
    }/*OK*/
    
    .card-title{
        font-family: 'Ubuntu', sans-serif;
        font-size: 2rem;
        color: black;
    }/*OK*/
    
    .card-text{
        font-family: 'Lora', serif;
        font-size: 1.1rem;
    }/*OK*/

    #footerP{
        font-size: 2rem;
    }/*OK*/
}

@media (min-width: 992px) {
    .card {
        height: 120px;
        width: 250px;
    }/*OK*/

    .card-title{
        font-family: 'Ubuntu', sans-serif;
        font-size: 2rem;
        color: black;
    }/*OK*/
    
    .card-text{
        font-family: 'Lora', serif;
        font-size: 1.1rem;
    }/*OK*/
    
}

@media (min-width: 1200px){
    #cv{
        position: relative;
        left: 10%;
    }/*OK*/
}

@media (min-width: 1400px){
    .card {
        height: 120px;
        width: 300px;
    }/*OK*/

    .card-title{
        font-family: 'Ubuntu', sans-serif;
        font-size: 3rem;
        color: black;
    }/*OK*/
    
    .card-text{
        font-family: 'Lora', serif;
        font-size: 1.1rem;
    }/*OK*/

    .card-title{
        font-family: 'Ubuntu', sans-serif;
        font-size: 3rem;
        color: black;
    }/*OK*/
    
    .card-text{
        font-family: 'Lora', serif;
        font-size: 1.1rem;
    }/*OK*/

    #sobre-mi{
        position: relative;
        right: 10%;
    }/*OK*/
}

@media (min-width: 1750px){
    .card {
        height: 120px;
        width: 400px;
    }/*OK*/
}

/*Animaciones*/

@keyframes slide-top{
    0%{transform:translateY(0)}
    50%{transform:translateY(-5px)}
    100%{transform:translateY(-10px)}
}/*OK*/

@keyframes scale-in-center{
    0%{transform:scale(0);opacity:1}
    100%{transform:scale(1);opacity:1}
}/*OK*/

@-webkit-keyframes tracking-in-expand{
    0%{letter-spacing: -0.5em; opacity: 0;}
    40%{opacity: 0.6;}
    100% {opacity: 1;}
}/*OK*/

@keyframes tracking-in-expand{
    0%{letter-spacing: -0.5em; opacity: 0;}
    40%{opacity: 0.6;}
    100% {opacity: 1;}
}/*OK*/

.tracking-in-expand{
	-webkit-animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}/*OK*/

@-webkit-keyframes slide-in-left{
    0%{-webkit-transform: translateX(-1000px); transform: translateX(-1000px); opacity: 0;}
    100%{-webkit-transform: translateX(0); transform: translateX(0); opacity: 1;}
}/*OK*/

@keyframes slide-in-left{
    0%{-webkit-transform: translateX(-1000px); transform: translateX(-1000px); opacity: 0;}
    100%{-webkit-transform: translateX(0); transform: translateX(0); opacity: 1;}
}/*OK*/

.slide-in-left{
	-webkit-animation: slide-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}/*OK*/


















