@import "_vars";
@import "_fonts";

/* Galeria */
.bgCard{
    background-color: $bgGalleryColor;
}
.cardName{
    font-family: $silkscreenFont;
    font-size: $mainTextFontSize-lg;
    color: $cardNameColor;
    text-shadow: $galleryShadow;
}

.cardText{
    font-family: $ubuntuSerifFont;
    font-size: $thirdTextFontSize-lg;
    color: $cardTitleColor;
}

.galleryLinks{
    font-family: $loraFont;
    color: $secondaryColor;
    font-size: $secondaryFontSize-lg;
    text-shadow: $galleryShadow;
}

/*Herramientas*/

.cardFormat{
    border-radius: 5px;
    background: $bgSectionsColor;
    margin: auto;
}

.card{
    &:hover{
        background: $bgCardHover;
        cursor: pointer;
        transition: all 0.3s ease;
        transform: scale(1.01);
    }
}

.card-title{
    font-family: $ubuntuSansFont;
    font-size: $mainTextFontSize-lg;
    color: $cardTitleColor;
}

.card-text{
    font-family: $loraFont;
    font-size: $cardTextFontSize-lg;
}

.col{
    display: flex;
    justify-content: center;
}