@import "_vars";


/* Galeria */
.galleryLinks{
    font-family: $loraFont;
    color: $secondaryColor;
    font-size: $secondaryFontSize-lg;
    text-shadow: $galleryShadow;
}

/*Herramientas*/
.bgToolsCard{
    border-radius: 5px;
    background: $bgSectionsColor;
    margin: auto;
}

/*Tarjetas: Galeria y herramientas*/
.col{
    display: flex;
    justify-content: center;
    .bgGalleryCard{
        background-color: $bgGalleryColor;
    }
}

.card{
    border-radius: 5px;
    margin: auto;
    &:hover{
        background: $bgCardHover;
        cursor: pointer;
        transition: all 0.3s ease;
        transform: scale(1.01);
    }
    /*Gallery Cards*/
    .cardName{
        font-family: $silkscreenFont;
        font-size: $mainTextFontSize-lg;
        color: $cardNameColor;
        text-shadow: $galleryShadow;
    }
    .cardText{
        font-family: $ubuntuSerifFont;
        font-size: $thirdTextFontSize-lg;
        color: $cardTitleColor;
    }
    /*Tools Cards*/
    .card-title{
        font-family: $ubuntuSansFont;
        font-size: $mainTextFontSize-lg;
        color: $cardTitleColor;
    }
    .card-text{
        font-family: $loraFont;
        font-size: $cardTextFontSize-lg;
    }
}