@import "_vars";

/*Formulario*/
.formulario{
    padding: 0;
        h2{
            font-family: $loraFont;
            font-size: $mainTextFontSize-lg;
            color: $thirdColor;
            letter-spacing: 5px;
            text-shadow: $darkShadow;
        }
        p{
            font-family: $loraFont;
            font-size: $thirdTextFontSize-lg;
            color: $thirdColor;
            letter-spacing: 5px;
            text-shadow: $darkShadow;
        }
        .vertical{
            display: flex;
            align-items: center;
        }
        label{
            font-family: $loraFont;
            font-size: $secondaryFontSize-lg;
            color: $thirdColor;
            letter-spacing: 5px;
            text-shadow: $darkShadow;
        }
        .form-format{
            border-radius: 5px;
            background: $bgSectionsColor;
            margin: auto;
            padding: 15px;
        }
}
        
.form-format-align{
    text-align: center;
}