@import "_vars";

/*Ajustes medidas dispositivos */
@media (min-width: 200px) and (max-width: 400px){

    .h1Index{
        font-size: $indexH1Size-xs;
        padding: 3px;
    }

    .h2Index{
        font-size: $indexH2Size-xs;
        padding: 3px;
    }

    .titleText{
        font-size: $titlesFontSize-xs;
    }

    .projectName{
        font-size: $mainTextFontSize-xs;
    }
    
    .pFormat{
        font-size: $textsFontSize-xs;
    }

    #footerP{
        font-size: $mainTextFontSize-xs;
    }

    .error404Img{
        width: 100%;
    }
}

@media (min-width: 400px) and (max-width: 768px){
    
    .logoImg{
        width: 75%;
    }

    .error404Img{
        width: 100%;
    }

    .navText{
        font-family: $loraFont;
        font-size: $navFontSize-sm-md;
            &:hover{
                color: $navHoverColor;
                cursor: pointer;
                transition: all 0.05s ease;
                transform: scale(0.98);
                animation:slide-top .5s 
                cubic-bezier(.25,.46,.45,.94) both
            }
    }

    .h1Index{
        font-family: $silkscreenFont;
        font-size: $indexH1Size-sm;
        padding: 6px;
        text-align: center;
    }
    
    .h2Index{
        font-family: $silkscreenFont;
        font-size: $indexH2Size-sm;
        padding: 4px;
        text-align: center;
    }

    .titleText{
        font-size: $titlesFontSize-sm;
    }

    .sobreMiText{
        font-family: $merriweatherFont;
        font-size: $textsFontSize-sm;
        font-style: italic;
    }

    video{
        width: 90%;
    }

    ul{
        li{
            padding: 5px;
        }
    }

    .card {
        height: 150px;
        width: 400px;
    }

    #footerP{
    font-size: $navFontSize-sm-md;
    }
}

@media (min-width:768px) and (max-width: 992px){
    .logoImg{
        width: 50%;
    }

    .navText{
        font-family: $loraFont;
        font-size: $navFontSize-sm-md;
            &:hover{
        cursor: pointer;
        transition: all 0.05s ease;
        transform: scale(0.98);
            }
    }

    .h1Index{
        font-family: $silkscreenFont;
        font-size: $indexH1Size-md;
        padding: 6px;
        text-align: center;
    }
    
    .h2Index{
        font-family: $silkscreenFont;
        font-size: $indexH2Size-md;
        padding: 4px;
        text-align: center;
    }

    .titleText{
        font-size: $titlesFontSize-md;
    }
    
    ul{
        li{
            padding: 5px;
        }
    }

    .card {
        height: 120px;
        width: 260px;
    }
    
    .card-title{
        font-family: $ubuntuSansFont;
        font-size: $secondaryFontSize-lg;
    }
    
    .card-text{
        font-family: $loraFont;
        font-size: $cardTextFontSize-lg;
    }

    #footerP{
        font-size: $secondaryFontSize-lg;
        }
}

@media (min-width: 992px) {
    .card {
        height: 120px;
        width: 250px;
    }

    .card-title{
        font-family: $ubuntuSansFont;
        font-size: $secondaryFontSize-lg;
    }
    
    .card-text{
        font-family: $loraFont;
        font-size: $cardTextFontSize-lg;
    }
    
}

@media (min-width: 1200px){
    #cv{
        position: relative;
        left: 10%;
    }
}

@media (min-width: 1400px){
    .card {
        height: 120px;
        width: 300px;
    }

    .card-title{
        font-family: $ubuntuSansFont;
        font-size: $mainTextFontSize-lg;
    }
    
    .card-text{
        font-family: $loraFont;
        font-size: $cardTextFontSize-lg;
    }

    .card-title{
        font-family: $ubuntuSansFont;
        font-size: $mainTextFontSize-lg;
    }
    
    .card-text{
        font-family: $loraFont;
        font-size: $cardTextFontSize-lg;
    }

    #sobre-mi{
        position: relative;
        right: 10%;
    }
}

@media (min-width: 1750px){
    .card {
        height: 120px;
        width: 400px;
    }
}